@import url(./reset.css);

:root {
  --clr-primary: #ccc;
  --clr-secondary: #24272C;
  --clr-number-episode: #ff0000;
  --clr-rating-background: #25af60;
  --clr-rating-text: #ffffff;
  --ff-primary: 'Roboto', sans-serif;

}

body {
  background: linear-gradient(180deg, rgb(39, 41, 41) 0%, rgba(255,0,228,1) 100%);
  background-attachment: fixed;
}

.container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  font-family: var(--ff-primary);
  grid-template-columns: 180px 1fr;
  background-color: var(--clr-secondary);
}

/* header */

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--clr-secondary); 
}

.header-wrapper {
  width: 100%;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  background-color: var(--clr-secondary); 
}

.header-wrapper img {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.authorization {
  width: 30px;
  height: 30px;
  background: url(../img/auth_btn.svg) no-repeat center;
  border: none;
}

.header-elements {
  display: flex;
  align-items: center;
  gap: 50px;
}

.search-form {
  width: 60%;
}

#search-input {
  width: 100%;
  padding-inline: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: transparent;
  outline: none;
  font-family: var(--ff-primary);
  color: #ccc;
  
}

/* sort and toggle layout */
.action-on-movies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.action-toggle-layout {
  display: flex;
}

.toggle-rows,
.toggle-tile {
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  
}

.toggle-tile {
  background: url(../img/table-row.svg) no-repeat center;
  background-size: cover;
}

.toggle-rows {
  background: url(../img/table-tile.svg) no-repeat center;
  background-size: cover;
}

#sorting {
  border: none;
  background: none;
  font-size: 12px;
  font-weight: 500;
  color: var(--clr-primary);
}

.action-sorting {
  display: flex;
  
}

.action-sorting span{
  font-size: 12px;
  font-weight: 500;
  color: var(--clr-primary);
}

.sort-options {
  margin-left: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* movie container */
.movies-container {
  padding: 10px;
}

.main-navigation {
  position: sticky;
  max-height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}

.main-navigation li {
  padding: 10px;
}

.main-navigation li a {
  text-decoration: none;
  color: var(--clr-primary);

}
  
.main-navigation li a:hover {
  text-decoration:underline;

}

.movie-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  gap: 20px;
}

.active-layout {
  grid-template-columns: none; 
  justify-content: left;
}

.movie-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
}

.movie-crawl {
  display: -webkit-box;
  margin-bottom: 20px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
  color: var(--clr-primary);
}

.movie-cover {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.img-container {
  position: relative;
  width: 100%;
  border-radius: 20px;
}

.img-container:hover {  
  transform: scale(1.01);
  transition: 0.4s;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.4);

}


.add-favorites {
  position: absolute;
  bottom: 25px;
  right: 10px;
  width: 25px;
  height: 25px;
  background: url(../img/bookmark-add.svg) no-repeat center;
  border: none;
}

.movie-rating {
  display: inline-block;
  padding-inline: 5px;
  position: absolute;
  left: 10px;
  bottom: 25px;
  color: var(--clr-rating-text);
  background-color: var(--clr-rating-background);
  font-size: 12px;
}

.active-item {
  flex-direction: row;
}

.movie-info {
  padding: 10px 0px 10px 10px;
}

.movie-title {
  margin-bottom: 10px;
  font-weight: 700;
}

.movie-title span {
  color: var(--clr-primary);
}

.movie-created,
.movie-episode {
  font-size: 12px;
  color: var(--clr-primary);
  opacity: 0.5;
}

.movie-episode {
  color: var(--clr-number-episode);
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    /* background-color:  #f9f8f8; */
    background: url(../img/sun.svg) no-repeat center;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider {
  background-color: #ccc
}

input:checked + .slider::before {
  background: url(../img/moon.svg) no-repeat center;
  background-color: var(--clr-secondary);
}
    
input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}
  
.slider.round {
  width: 40px;
  height: 20px;
  border-radius: 20px;
}
  
.slider.round:before {
  border-radius: 50%;
}