@import url(./reset.css);

:root {
  --clr-primary: #ccc;
  --clr-secondary: #24272C;
  --clr-header-footer: #24272C;
  --clr-number-episode: #ff0000;
  --clr-rating-background: #25af60;
  --clr-main-container: #ffffff;
  --clr-rating-text: #ffffff;
  --clr-movie-info: #5abcf5;
  --clr-links: #ccc;
  --clr-border-bookmarks: #5abcf5;
  --ff-primary: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(180deg, rgba(25,104,117,1) 0%, rgba(255,0,228,1) 100%);
  background-attachment: fixed;
  font-family: var(--ff-primary);
}

.dark-theme {
  --clr-primary: #24272C;
  --clr-secondary: #ccc;
  --clr-number-episode: #ff0000;
  --clr-rating-text: #ffffff;
  --clr-main-container: #24272C;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 180px 1fr;
  background-color: var(--clr-main-container);
}

h3 {
  margin-bottom: 10px;
  color: var(--clr-secondary);
}

/* header */

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--clr-header-footer); 
}

.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.header-container > img {
  display: block;
  width: 100%;
}

.authorization {
  width: 30px;
  height: 30px;
  background: url(../img/auth_btn.svg) no-repeat center;
  border: none;
}

.header-elements {
  display: flex;
  align-items: center;
  gap: 50px;
}

.search-form {
  width: 60%;
}

#search-input {
  width: 100%;
  padding-inline: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: transparent;
  outline: none;

  color: #ccc;
  
}

/* sort and toggle layout */
.action-on-movies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.action-toggle-layout {
  display: flex;
}

.toggle-rows,
.toggle-tile {
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
}

.toggle-tile {
  background: url(../img/table-row.svg) no-repeat center;
  background-size: cover;
}

.toggle-rows {
  background: url(../img/table-tile.svg) no-repeat center;
  background-size: cover;
}

#sorting {
  border: none;
  background: none;
  font-size: 12px;
  font-weight: 500;
  color: var(--clr-secondary);
}

.action-sorting {
  display: flex;
  color: var(--clr-secondary);
}

.action-sorting span{
  font-size: 12px;
  font-weight: 500;
}

.sort-options {
  margin-left: 10px;

}
 
/* toggle theme */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* movie container */
.movies-container {
  padding: 15px 10px;
}

.main-navigation {
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
}

.main-navigation li {
  padding: 4px 10px;

}

.main-navigation li a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  text-decoration: none;
  color: var(--clr-secondary);
}
  
.main-navigation li a:hover {
  background-size: 100% 2px;
  
}

.movie-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  gap: 20px;
}

.active-layout {
  grid-template-columns: none; 
  justify-content: left;
}

.movie-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
}

.movie-crawl {
  display: -webkit-box;
  margin-bottom: 20px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
  color: var(--clr-secondary);
}

.movie-cover {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.img-container {
  position: relative;
  width: 100%;
  border-radius: 20px;
}

.img-container:hover {  
  transform: scale(1.01);
  transition: 0.8s;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.4);
}

.movie-rating {
  display: inline-block;
  padding-inline: 5px;
  position: absolute;
  left: 10px;
  bottom: 20px;
  color: var(--clr-rating-text);
  background-color: var(--clr-rating-background);
  font-size: 12px;
}

.active-item {
  flex-direction: row;
}

.movie-info {
  padding: 10px 0px 10px 10px;
}

.movie-title {
  margin-bottom: 10px;
  font-weight: 700;
}

.movie-title span {
  color: var(--clr-secondary);
}

.movie-created,
.movie-episode {
  font-size: 12px;
  color: var(--clr-secondary);
  opacity: 0.5;
}

.movie-episode {
  color: var(--clr-number-episode);
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background: url(../img/sun.svg) no-repeat center;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider {
  background-color: #ccc
}

input:checked + .slider::before {
  background: url(../img/moon.svg) no-repeat center;
  background-color: var(--clr-primary);
}
    
input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}
  
.slider.round {
  width: 40px;
  height: 20px;
  border-radius: 20px;
}
  
.slider.round:before {
  border-radius: 50%;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0 10px 0;
  gap: 30px;
  background: url(../img/charliechaplin-colourver.svg) no-repeat left top;
  background-color: var(--clr-header-footer);
}

.social-links {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style-type: none;
}

.conditions-links {
  display: flex;
  gap: 40px;
}

.conditions-links a {
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: var(--clr-links);
}

.copyrigth {
  font-size: 12px;
  color: var(--clr-links);
}

/* movie-about */
.movie-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-header > span {
  font-size: 24px;
  font-weight: 700;
  color: var(--clr-secondary);
}

.add-favorites {
  display: flex;
  padding-inline: 10px;
  align-items: center;
  font-size: 14px;
  border: 1px solid var(--clr-border-bookmarks);
  border-radius: 2px;
  color: var(--clr-border-bookmarks);
  cursor: pointer;
}

.img-about {
  display: block;
  width: 100%;
  margin: 0 auto;
  
}

.movie-additional-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 18px;
}

.movie-additional-info span {
  color: var(--clr-movie-info);
}

.director-produser-info,
.realese-reating-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
}

.movie-story h3 {
  padding-left: 18px;
  color: var(--clr-secondary);
}

.movie-story p {
  text-indent: 18px;
  color: var(--clr-secondary);
}

.characters > span {
  padding-left: 18px;
  font-size: 18px;
  font-weight: 700;
  color: var(--clr-secondary);
}


.characters-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.character-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-secondary);
}

.character-info {
  font-size: 12px;
}

.character-link img {
  width: 100px;
  height: 118px;
  border-radius: 15%;
}