@import url(./reset.css);

:root {
  --clr-body: linear-gradient(180deg, rgba(25,104,117,1) 0%, rgba(255,0,228,1) 100%);
  --clr-boxshadow-character: -1px 0px 12px 2px rgba(0, 0, 0, 0.5);
  --clr-boxshadow-movie: -1px 0px 12px 2px rgba(0, 0, 0, 0.9);
  --clr-primary: #ccc;
  --clr-secondary: #24272C;
  --clr-header-footer: #24272C;
  --clr-number-episode: #ff0000;
  --clr-rating-background: #25af60;
  --clr-main-container: #ffffff;
  --clr-rating-text: #ffffff;
  --clr-movie-info: #5abcf5;
  --clr-links: #ccc;
  --clr-timer: #ff7e7e;
  --clr-border-bookmarks: #5abcf5;
  --clr-background-dialog: rgba(202, 199, 199, 0.4);
  --ff-primary:'Noto Sans', sans-serif;
}

body {
  background: var(--clr-body);
  background-attachment: fixed;
  font-family: var(--ff-primary);
}

.dark-theme {
  --clr-primary: #24272C;
  --clr-secondary: #ccc;
  --clr-main-container: #24272C;
  --clr-boxshadow-character: -1px 0px 12px 2px rgba(249, 241, 241, 0.4);
  --clr-boxshadow-movie: -1px 0px 12px 2px rgba(249, 241, 241, 0.4);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 180px 1fr;
  background-color: var(--clr-main-container);
}

h3 {
  color: var(--clr-secondary);
}

.movies-container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

/* header */

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--clr-header-footer); 
}

.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.header-container > img {
  display: block;
  width: 100%;
}

.authorization {
  width: 30px;
  height: 30px;
  background: url(../img/auth_btn.svg) no-repeat center;
  border: none;
}

.header-elements {
  display: flex;
  align-items: center;
  gap: 50px;
}

.search-form {
  width: 60%;
}

#search-input {
  width: 100%;
  padding-inline: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: transparent;
  outline: none;
  color: #ccc;
}

.release-time {
  text-align: end;
  font-size: 12px;
  color: var(--clr-secondary);
}

.release-time span {
  color: var(--clr-timer);
}

.seconds-left {
  display: inline-block;
  width: 12px;
}

.release-block {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* sort and toggle layout */
.action-on-movies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.action-toggle-layout {
  display: flex;
}

.toggle-rows,
.toggle-tile {
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
}

.toggle-tile {
  background: url(../img/table-row.svg) no-repeat center;
  background-size: cover;
}

.toggle-rows {
  background: url(../img/table-tile.svg) no-repeat center;
  background-size: cover;
}

#sorting {
  border: none;
  background: none;
  font-size: 12px;
  font-weight: 500;
  color: var(--clr-secondary);
}

.action-sorting {
  display: flex;
  color: var(--clr-secondary);
}

.action-sorting span{
  font-size: 13px;
  font-weight: 500;
}

.sort-options {
  margin-left: 10px;
}
 
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
}
  
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
  
  /* movie container */
.movies-container {
  position: relative;
  padding: 15px;
}

.main-navigation {
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
}

.main-navigation li {
  padding: 4px 10px;
}

.main-navigation li span {
  display: inline-block;
  cursor: pointer;
}

.main-navigation li span,
.main-navigation li a {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  text-decoration: none;
  color: var(--clr-secondary);
}
  
.main-navigation li span:hover,
.main-navigation li a:hover {
  background-size: 100% 2px;
}

.categories-items {
  padding: 0;
  list-style-type: none;
}

.movie-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  gap: 20px;
}

.active-layout {
  grid-template-columns: none; 
  justify-content: left;
}

.movie-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
}

.movie-crawl {
  display: -webkit-box;
  margin-bottom: 20px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
  color: var(--clr-secondary);
}

.movie-cover {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.img-container {
  position: relative;
  width: 100%;
  border-radius: 20px;
}


.img-container:hover {  
  transform: scale(1.01);
  transition: 0.4s;
  box-shadow: var(--clr-boxshadow-movie);
}

.character-cover:hover {
  transition: 0.4s;
  box-shadow: var(--clr-boxshadow-character);
}

.movie-rating {
  display: inline-block;
  padding-inline: 5px;
  position: absolute;
  left: 10px;
  bottom: 20px;
  color: var(--clr-rating-text);
  background-color: var(--clr-rating-background);
  font-size: 12px;
}

.active-item {
  flex-direction: row;
}

.movie-info {
  padding: 10px 0px 10px 10px;
}

.movie-title {
  margin-bottom: 10px;
  font-weight: 700;
}

.movie-title span {
  color: var(--clr-secondary);
}

.movie-created,
.movie-episode {
  font-size: 12px;
  color: var(--clr-secondary);
  opacity: 0.5;
}

.movie-episode {
  color: var(--clr-number-episode);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  }
  
.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background: url(../img/sun.svg) no-repeat center;
  -webkit-transition: .4s;
  transition: .4s;
}
  
input:checked + .slider {
  background-color: #ccc
}

input:checked + .slider::before {
  background: url(../img/moon.svg) no-repeat center;
  background-color: var(--clr-primary);
}
    
input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}
  
.slider.round {
  width: 40px;
  height: 20px;
  border-radius: 20px;
}
  
.slider.round:before {
  border-radius: 50%;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0 10px 0;
  gap: 30px;
  background: url(../img/charliechaplin-colourver.svg) no-repeat left top;
  background-color: var(--clr-header-footer);
}

.social-links {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style-type: none;
}

.conditions-links {
  display: flex;
  gap: 40px;
}

.conditions-links a {
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: var(--clr-links);
}

.copyrigth {
  font-size: 12px;
  color: var(--clr-links);
}

/* movie-about */
.movie-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-header > span {
  font-size: 24px;
  font-weight: 700;
  color: var(--clr-secondary);
}

.add-favorites {
  display: flex;
  padding-inline: 10px;
  align-items: center;
  font-size: 14px;
  border: 1px solid var(--clr-border-bookmarks);
  border-radius: 2px;
  color: var(--clr-border-bookmarks);
  cursor: pointer;
}

.img-about {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.movie-additional-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 18px;
}

.movie-additional-info span {
  color: var(--clr-movie-info);
}

.director-produser-info,
.realese-reating-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
  color: var(--clr-secondary);
}

.movie-story h3 {
  padding-left: 18px;
  color: var(--clr-secondary);
}

.movie-story p {
  margin-top: 10px;
  text-indent: 18px;
  text-align: justify;
  color: var(--clr-secondary);
}

.characters > span {
  padding-left: 18px;
  font-size: 18px;
  font-weight: 700;
  color: var(--clr-secondary);
}

.characters-container {
  display: grid;
  /* min-height: 50vh; */
  position: relative;
  grid-template-columns: repeat(auto-fill, 140px);
  margin-top: 20px;
  padding-bottom: 45px;
}

.character-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-secondary);
}

.character-title {
  font-size: 12px;
}

.character-link img {
  width: 100px;
  height: 115px;
  border-radius: 15%;
}

#loadMoreCharacters {
  position: absolute;
  bottom: 0%;  
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  background: url(../img/more.svg)  no-repeat center;
  background-color: transparent;
  border-radius: 50%;
  border: none;
}

/* characters about */
.character-about {
  display: flex;
  gap: 20px;
}

.character-image {
  max-width: 30%;
  padding: 10px;
  border: 1px solid var(--clr-secondary);
}

.character-description {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  gap: 4px;
}

.character-name {
  margin-top: 20px;
}

.character-wiki a {
  text-decoration: none;
  color: var(--clr-movie-info);
}

.character-description p {
  color: var(--clr-secondary);
}

.character-films {
  display: flex;
  flex-direction: row;
  gap: 10px
}

.character-films a {
  text-decoration: none;
  color: var(--clr-border-bookmarks);
} 

.character-films span {
  color: var(--clr-secondary);
} 

.character-wiki a:hover,
.character-films a:hover {
  color: var(--clr-rating-background);
}

.character-films-featuring {
  display: flex;
  flex-direction: column;
}


/* radio */
.layout {
  display: block;
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.row {
  background: url(../img/table-row.svg) no-repeat center;
}

.tile {
  background: url(../img/table-tile.svg) no-repeat center;
}

.layout input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark:after {
  content: "";
  position: absolute; 
  display: none;
}

.layout input:checked ~ .checkmark:after {
  display: block;
}
 
.layout .checkmark:after {
  width: 20px;
  height: 20px;
  border: 1px solid var(--clr-border-bookmarks);
}

/* spinner */
.lds-ring.show {
  display: inline-block;
}

.hidden {
  display: none;
}

.lds-ring {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 0%;  
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 8px;
  border: 4px solid #0697f1;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0697f1 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* dialog */

.dialog_container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-background-dialog)
}

#form-authorization {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  min-width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
  border-top: 4px solid var(--clr-border-bookmarks);
  background-color: var(--clr-main-container);
}

#form-authorization input {
  width: 70%;
  padding: 8px;
  font-size: 12px;
}

.small_text {
color: var(--clr-movie-info);
}

.confirm-button {
  padding: 10px;
  width: 70%;
  background-color: var(--clr-border-bookmarks);
  border: none;
  color: var(--clr-rating-text);
}

.forgot-password {
  width: 100%;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: var(--clr-secondary);
  font-size: 12px;
}

.x_button {
  border: none;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  align-self: end;
  border-radius: 10px;
  color: var(--clr-border-bookmarks);
}